body {
    background: black;
    text-align: center;
    margin: 0;
    padding: 0;
    }

h1 {
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    color: #fff;
    }

 a  {
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
    color: aquamarine;
    margin: 5px;
    padding: 5px;
    }

 h2 {
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
    color: #fff;
    }

 h3 {
    font-family: Verdana;
    font-size: 21px;
    font-weight: 100;
    color: gray;
    margin: 9px;
    padding: 9px;
    }

 h4 {
    font-family: Verdana;
    font-size: 42px;
    font-weight: 400;
    color: #fff;
    margin: 20px;
    padding: 10px;
    }

 h5 {
    font-family: Verdana;
    font-size: 22px;
    font-weight: 200;
    color: gray;
    text-align: right;
    margin: 5px;
    padding: 5px;
    }